body {
  /*cursor: url('/path/to/your-cursor-image.png'), auto;*/
  cursor: url("./assets/cursor.png"); /* TO-DO : debug the cursor thing */
}

#title-1 {
  color: red;
}

#title-2 {
}

#title-3 {
}

#title-4 {
}

.barrio-regular {
  font-family: "Barrio", system-ui;
  border: 2px solid powderblue;
  color: #a31b1b;
  font-size: 100px;
}

.blinking-cursor::after {
  content: "|"; /* This is the "cursor" character */
  display: inline-block;
  margin-left: 5px; /* Adds some space between the text and the cursor */
  animation: blink 1.5s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

#intro-slider {
  background-color: #ffecd6;
}

#main-screen-1 {
  background-color: #092335;
  color: #ffd9ad;
}

#nav-pannel {
  background-color: #233554;
}

.image-container {
  border-radius: 2em;
  position: relative;
  width: 200px;
  height: 200px;
}

.default-image,
.hover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease; /* Smooth transition */
}

.default-image {
  opacity: 1; /* Default image is visible */
}

.hover-image {
  opacity: 0; /* Hover image is hidden initially */
}

.image-container:hover .default-image {
  opacity: 0; /* Hide default image on hover */
}

.image-container:hover .hover-image {
  opacity: 1; /* Show hover image on hover */
}

#main-page-info-pannel {
  background-color: #233554;
  border-radius: 0.5em;
  box-sizing: border-box;
  align-items: center;
  margin: 2em;
  padding-left: 25px;
  color: white;
  display: flex;
  border: 2px solid rgb(240, 240, 240);
  justify-content: space-between;
  padding-right: 10em;
}

#footer-main-page {
  background-color: #163ec4;
  border-radius: 0.5em;
  box-sizing: border-box;
  align-items: center;
  margin: 2em;
  padding-left: 25px;

  display: flex;
  border: 2px solid rgb(240, 240, 240);
  justify-content: space-between;
  padding-right: 10em;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2em;
}

#shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 10px;
  color: rgb(19, 58, 53);
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;

  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
  border-color: white;
}

#shadow__btn:hover {
  box-shadow: 0 0 5px rgba(0, 140, 255, 0), 0 0 25px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

.container {
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}
